body,html
{
  background-color:#f7f9fc;
  font-family: 'Poppins', sans-serif;
  color: #243E75;
}

.App {
  text-align: center;

}

.row {
  margin-left:0px;
}
.row label{
  font-size:12px;
}

button.btn-navigation
{
    font-family: "Poppins", "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 40px;
    width: 18vh;
    border-radius: 6px;
    border-color: #4071C1;
    color:#4071C1;
    cursor:pointer;
     min-width: 30vh;
}

button.btn-navigation-green
{
   border-color: #27ae60;
   color: #27ae60;
   min-width: 40vh;
}

button.btn-navigation a {
  color:#243E75;
 
}

button.btn-navigation a:hover {
  color:#243E75;
  text-decoration: none;
}

.header_wrapper {
    background: url(http://otica.ai/images/otica_site_header.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
}
.header_title img{
  width: calc(16vw);
}

.header_navigation {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    float: right;
    padding-top: 6vh;
}

.header_navigation_item, .header_navigation_item:hover {
    float: right;
    text-decoration: none;
    color: white;
    font-weight: 700;
    margin-right: 8vh;
    font-size: 2vh;
}



.App-link {
  color: #61dafb;
}

.inputGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 50%;
  margin: 0 auto;
}

.inputLabel {
  flex: 0.3;
}

.inputField {
  flex: 0.7;
  padding: 1vmin 0;
  text-indent: 1vmin;
}

.site-footer {
  background-color: #F7F9FC;
  width: 100% !important;
  align-items: center;
  padding: 3vmin 0;
}

.sectionWrapper {

}

.dropdown-toggle {
  border: 1px solid #CED4DA;
  padding: 0.5% 1% !important;
  font-size: 14px;
  font-weight: 400;
  color: #495057;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
}

.dropdown-menu li{
  padding: 0 1%;
  font-size: 14px;
  font-weight: 400;
  color: #495057;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
}

.App-section-wrapper{
  position:absolute;
  top:0px;
  left:0px;
}
.App-section 
{
  display: block;
  padding: 50px;
  margin-top:100px;
  background-color:#ffffff;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  min-height:600px;
}


p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.footer 
{
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
    height: 1%;
    background-color: #f7f9fc;
    position:relative;
    top:100px; 
}

.footer_text {
    float: right;
    margin-right: 13vh;
    padding: 5vh 0px;

    width: 65%;
    float: left;
    font-size: 18px;
    font-weight: 400;
}
.footer_text p {
    width: 55%;
    float: right;
    margin-right: 13vh;
    padding: 5vh 0px;
    text-align: left;
    line-height: 1.8;
    font-weight: 400;
    font-size:18px;
}


.footer_button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 7vh;
    width: 18vh;
    border-radius: 6px;
    border: 0;
    background: linear-gradient(90deg, #74AAE2, #4071C1);
}

.footer_button_text {
    font-size: 2vh;
    text-decoration: none;
    font-weight: 500;
    color: white;
}

.footer_text p a {
    margin-left: -6px;
    margin-right:5px;
}

.footer_text p i {
    background: -webkit-gradient(linear, left top, left bottom, from(#74AAE2), to(#4071C1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3vh;
    margin-top: 1vh;
    margin-left: 1vh;
}

.sectionWelcome, .sectionVertical, .sectionSpace,.sectionLoader {
  text-align: left;
  width:100%;
  height:100%;
  margin-top:50px;
}

.article_divider {
  margin-top: 2vh;
  height: 3px;
  width: 25%;
  background: linear-gradient(90deg, #A0DDFF, #909AFD);
}

.form-control {
    border: none;
    background-color: #f7f9fc;
    height: 40px !important;
}

.image_picker .responsive{
  margin-top:10px;
}

.image_picker .responsive .thumbnail{
  object-fit: scale-down !important;
}

.invite-name{
  width:50%;
}

.invite-email{
  width:35%;
}

.invite-add{
  width:12%;
}

.btn-add{
  width:30px;
  height:30px;
  border-radius:30px;
  margin-top:5px;
}
.invite-row{
  margin-top:20px;
  padding-left:0px;
}
.sectionLoader{
  text-align:center;
}
.sectionLoader img{
  margin-top:50px;
  width:80px;
}
.loading-text{
  font-size:12px;
}

.fa-success{
  font-size:72px;
  margin-top:50px;
  color:#27ae60;  
}
