.App {
  text-align: center;
}

p, h1, h2, h3, h4, h5, header, label {
  font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
  color: #73879c !important;
}

.App-header {
  background-color: #fff;
  display: flex;
  height: 8vmin;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  border-bottom: 1px solid lightgray;
  font-weight: 500;
}

.App-link {
  color: #61dafb;
}

.inputGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 50%;
  margin: 0 auto;
}

.inputLabel {
  flex: 0.3;
}

.inputField {
  flex: 0.7;
  padding: 1vmin 0;
  text-indent: 1vmin;
}

