.App {
  text-align: center;
}

p, h1, h2, h3, h4, h5, header, label {
  font-family: "Poppins", "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
  color: #73879c !important;
}

button {
  font-family: "Poppins", "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
}

.App-header {
  background-color: #F7F9FC;
  display: flex;
  height: 8vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  border-bottom: 1px solid lightgray;
  font-weight: 500;
}

.logo {
  position: absolute;
  height: 6vmin;
  left: 5vmin;
}

section {
  padding: 8vh 0;
  min-height: 82vh !important;
}

.App-link {
  color: #61dafb;
}

.inputGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 50%;
  margin: 0 auto;
}

.inputLabel {
  flex: 0.3;
}

.inputField {
  flex: 0.7;
  padding: 1vmin 0;
  text-indent: 1vmin;
}

.site-footer {
  background-color: #F7F9FC;
  width: 100% !important;
  align-items: center;
  padding: 3vmin 0;
}

.sectionWrapper {

}

.dropdown-toggle {
  border: 1px solid #CED4DA;
  padding: 0.5% 1% !important;
  font-size: 14px;
  font-weight: 400;
  color: #495057;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
}

.dropdown-menu li{
  padding: 0 1%;
  font-size: 14px;
  font-weight: 400;
  color: #495057;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
}
